  .Foto{
    height: 400px;
    width: 250px;
    border-radius: 150px;
    padding-top: 30px;
    padding-left: 24px;
  }
  .Illustrator{
    width: 25px;
    height: 25px;

  }
  .Photoshop{
    width: 29px;
    height: 29px;

  }
  .InDesign{
    width: 25px;
    height: 25px;

  }
  .tele{
    width: 25px;
    height: 25px;

  }
  .mail{
    width: 25px;
    height: 25px;

  }
  body{
  background-image: url(imagenes/FONDO\ 14.jpg);

  }

  #Titulo{
  background-color: cadetblue;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 25px;
  padding-right: 25px;

  }
  #Titulo h3 pre{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;

  }
  #contenedor{
    color: rgb(255, 255, 255);
    background-image: url(imagenes/FONDO\ 8.jpg);
    width: 900px;
    height: 1200px;
    margin: 0px auto;
    overflow: hidden; 
  }
  #Datos {
    float: left;
    width: 300px;
    background-color: #44a9c2	;
    text-align: justify;
    
  }
  #Experiencia{
    float: right;
    width: calc(100% - 320px); 
    background-color: #43818e	;
    margin-top: 40px;
    margin-right: 20px;
    padding-bottom: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

  }
  #Educacion {
    float: right;
    width: calc(100% - 320px);
    background-color: #43818e	;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; 
  
  }
  #Habilidades{
    float: right;
    width: calc(100% - 320px); 
    background-color: #43818e	;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

  }
  #Idiomas{
    float: right;
    width: calc(100% - 320px); 
    background-color: #43818e	;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

  }

  #Datos h2 , #Contacto h2 , #Educacion h2 , #Experiencia h2 , #Habilidades h2 , #Idiomas h2 {

    padding-left: 25px;

  }
  #Datos p , #Contacto p , #Educacion p , #Experiencia p , #Habilidades p , #Idiomas p {
    padding-left: 30px;
    padding-right: 30px;

  }
  #Datos p{
  font-size: 18px
  }